.advantages {
  margin-top: 316px;
  margin-bottom: 309px;
  h1 {
    color: $firstColor;
    font-size: 144px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px; /* 76.389% */
  }
  h2 {
    color:  $secondColor;
    font-family: $secondFont;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px; /* 137.5% */
  }
  &__title {
    max-width: 730px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    img {
      margin: -81px 55px auto auto;
    }
  }
  &__cards {
    margin-top: 104px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 94px;
    row-gap: 70px;
    justify-content: center;
  }
  &__card {
    height: 100%;
    max-width: 484px;
    width: 100%;
    h4 {
      color: $secondColor;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 133.333% */
    }
    div {
      max-height: 150px;
      height: 100%;
      align-items: center;
      margin-top: 36px;
      display: flex;
      justify-content: space-between;
      max-width: 484px;
      width: 100%;
      p {
        max-width: 318px;
        color: $firstColor;
        font-family: $secondFont;
        font-size: $fontSize20;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
      }
    }
  }
  h3 {
    color:  $secondColor;
    font-size: 40px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
  }
  &__choice {
    margin-top: 316px;
  }
}