.entry {
  display: flex;
  margin:75px auto 457px;
  align-items: center;
  gap: 191px;
  &--none {
    display: none;
  }
  > div {
    max-width: 909px;
    width: 100%;
  }
  &__buttons {
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 78px;
    button {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 32px;
      border-radius: 20px;
      background: #FFF;
      border: none;
      transition: 500ms;
      box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);
      &:hover {
        border: 1px solid var(--brown-light, #C3B9B5);
      }
      span {
        color: $secondColor;
        font-family: $secondFont;
        font-size: $fontSize20;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
      }
    }
  }
  h1 {
    color: $secondColor;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px; /* 137.5% */
    max-width: 360px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: $thirdColor;
    font-family: $secondFont;
    font-size: $fontSize20;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
  }
}