.entry {
  display: flex;
  margin:75px auto 457px;
  align-items: center;
  gap: 191px;
  &__pay {
    border-radius: 20px;
    background:  #EDE9E8;
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
     > button {
      margin:40px auto auto ;
      max-width: 284px;
    }
    p {
      color:$firstColor;
      font-family:$secondFont;
      font-size: $fontSize20;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 125% */
    }
    div {
      display: flex;
    }
  }
  &__form {
    margin-top: 61px;
    textarea {
      padding: 16px;
      resize: none;
      width: 909px;
      height: 171px;
      color: #C3B9B5;
      font-family: $secondFont;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 125% */
      border-radius: 20px;
      border: 1px solid  #EDE9E8;
      background: #FFF;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      > button {
        max-width: 284px;
      }
       > div {
        display: flex;
        gap: 24px;
      }
    }
    input {
      border-radius: 20px;
      border: 1px solid  #EDE9E8;
      background: #FFF;
      color:  #C3B9B5;
      font-family: $secondFont;
      font-size: $fontSize20;
      padding: 16px;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 125% */
    }
  }
  &--none {
    display: none;
  }
  > div {
    max-width: 909px;
    width: 100%;
  }
  &__buttons {
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 78px;
    button {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 32px;
      border-radius: 20px;
      background: #FFF;
      border: none;
      transition: 500ms;
      box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);
      &:hover {
        border: 1px solid var(--brown-light, #C3B9B5);
      }
      span {
        color: $secondColor;
        font-family: $secondFont;
        font-size: $fontSize20;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
      }
    }
  }
  h1 {
    color: $secondColor;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px; /* 137.5% */
    max-width: 360px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: $thirdColor;
    font-family: $secondFont;
    font-size: $fontSize20;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
  }
}