.header {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    display: flex;
    gap: 80px;
    a {
      &:hover {
        color: $firstColor;

      }
      transition: 500ms;
      font-family: $secondFont;
      color: #C3B9B5;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $fontSize20;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
    }
  }
  &__address {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    &:hover {
      a {
        color: $firstColor;
      }
      svg {
        path {
          fill: $firstColor;
        }
      }
    }
    svg {
      path {
        transition: 500ms;
      }
    }
    a {
      transition: 500ms;
      color: #FFC59E;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $secondFont;
      font-size: $fontSize20;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
    }
  }
}
