.header {
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__dropdown {
    position: relative;
    display: inline-block;
    &:hover .header__dropdown-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__dropdown-content {
    width: 300px;
    left: -50px;
    display: none;
    position: absolute;
    padding: 40px 0 40px 50px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 20px 0px rgba(155, 82, 50, 0.10);
    z-index: 1;
  }
  nav {
    display: flex;
    gap: 80px;
    .header__dropdown-content {
      a {
        max-width: 250px;
        width: 100%;
          text-transform: none;
          color: $secondColor;
          text-decoration: none;
          display: block;
          font-family: $secondFont;
          font-size: $fontSize20;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 150% */
          &:hover {
            font-weight: 600;
            padding-left: 10px;
            color: $secondColor;
          }
      }
    }
    a {
      &:hover {
        color: $firstColor;

      }
      transition: 500ms;
      font-family: $secondFont;
      color: #C3B9B5;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $fontSize20;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
    }
  }
  &__address {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    &:hover {
      a {
        color: $firstColor;
      }
      svg {
        path {
          fill: $firstColor;
        }
      }
    }
    svg {
      path {
        transition: 500ms;
      }
    }
    a {
      transition: 500ms;
      color: #FFC59E;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $secondFont;
      font-size: $fontSize20;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
    }
  }
}
