.main {
  display: flex;
  margin-top: 130px;
  gap: 265px;
  &__img {
    a {
      position: absolute;
      bottom: 80px;
      right: 0px;
      text-decoration: none;
      color:$firstColor;
      font-family: $secondFont;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 125% */
    }
    img {
      margin-right: -117px;
    }
  }
  .main__info--3 {
      margin: 0;
    a {
      right: -250px;
    }
  }
  &__info {
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
    position: relative;
    display: none;
    &--6 {
      .main__socials {
        padding-bottom: 80px;
      }
      img {
        margin-right: 0;
        margin-left: -97px;
      }
    }
    &--5 {
      img {
        margin-right: 0;
        margin-top: 75px;
      }
    }
    &--4 {
      img {
        margin-top: 35px;
        margin-right: 0;
      }
    }
    &--2 {
      img {
        margin-right: 0;
      }
    }
    &--active {
      display: flex;
      position: relative;
      margin: auto;
      opacity: 1;
      visibility: visible;
    }
  }
  .button {
    margin-top: 50px;
  }
  &__socials{
    margin-top: 197px;
    display: flex;
    gap: 50px;
  }
  h1 {
    color:  $secondColor;
    max-width: 645px;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px; /* 137.5% */
  }
  nav {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    .main__active {
      position: relative;
      color: $secondColor;
      svg {
        display: block;
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: -9px;
        left: -14px;
      }
    }
    a {
      &:hover {
        color: $firstColor;
      }
      svg {
        transition: 500ms;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -9px;
        left: -14px;
      }
      transition: 500ms;
      text-decoration: none;
      color: #C3B9B5;
      font-family: $secondFont;
      font-size: $fontSize20;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
    }
  }
}